# Formatting Spider dataset for finetuning with LLM

In [15]:
from datasets import load_dataset
import pandas as pd


dataset = load_dataset("xlangai/spider")

In [16]:
df_train = dataset['train'].to_pandas()

df_val = dataset['validation'].to_pandas()

In [17]:
df_train.columns

Index(['db_id', 'query', 'question', 'query_toks', 'query_toks_no_value',
       'question_toks'],
      dtype='object')

In [19]:
df_train.shape
df_val.shape

(1034, 6)

### Randomize data

In [20]:
df_train = df_train.sample(frac=1)
df_val = df_val.sample(frac=1)
df_val

,db_id,query,question,query_toks,query_toks_no_value,question_toks
140,car_1,"SELECT max(Accelerate) , Cylinders FROM CARS_...",What is the maximum accelerate for all the dif...,"[SELECT, max, (, Accelerate, ), ,, Cylinders, ...","[select, max, (, accelerate, ), ,, cylinders, ...","[What, is, the, maximum, accelerate, for, all,..."
120,car_1,select min(weight) from cars_data where cylind...,What is the minimum weight of the car with 8 c...,"[select, min, (, weight, ), from, cars_data, w...","[select, min, (, weight, ), from, cars_data, w...","[What, is, the, minimum, weight, of, the, car,..."
425,museum_visit,SELECT sum(t2.Total_spent) FROM visitor AS t1 ...,What is the total ticket expense of the visito...,"[SELECT, sum, (, t2.Total_spent, ), FROM, visi...","[select, sum, (, t2, ., total_spent, ), from, ...","[What, is, the, total, ticket, expense, of, th..."
650,poker_player,SELECT Earnings FROM poker_player ORDER BY Ear...,"What are the earnings of poker players, ordere...","[SELECT, Earnings, FROM, poker_player, ORDER, ...","[select, earnings, from, poker_player, order, ...","[What, are, the, earnings, of, poker, players,..."
624,tvshow,SELECT T1.series_name FROM TV_Channel AS T1 JO...,What is the name of the series that has the ep...,"[SELECT, T1.series_name, FROM, TV_Channel, AS,...","[select, t1, ., series_name, from, tv_channel,...","[What, is, the, name, of, the, series, that, h..."
...,...,...,...,...,...,...
424,museum_visit,"SELECT avg(num_of_ticket) , max(num_of_ticket...",What are the average and maximum number of tic...,"[SELECT, avg, (, num_of_ticket, ), ,, max, (, ...","[select, avg, (, num_of_ticket, ), ,, max, (, ...","[What, are, the, average, and, maximum, number..."
705,world_1,SELECT count(*) FROM country WHERE GovernmentF...,How many countries have governments that are r...,"[SELECT, count, (, *, ), FROM, country, WHERE,...","[select, count, (, *, ), from, country, where,...","[How, many, countries, have, governments, that..."
739,world_1,SELECT COUNT(*) FROM country AS T1 JOIN countr...,How many official languages are spoken in Afgh...,"[SELECT, COUNT, (, *, ), FROM, country, AS, T1...","[select, count, (, *, ), from, country, as, t1...","[How, many, official, languages, are, spoken, ..."
796,world_1,"SELECT sum(Population) , GovernmentForm FROM ...",Find the government form name and total popula...,"[SELECT, sum, (, Population, ), ,, GovernmentF...","[select, sum, (, population, ), ,, governmentf...","[Find, the, government, form, name, and, total..."
211,flight_2,SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPOR...,How many flights depart from City 'Aberdeen' a...,"[SELECT, count, (, *, ), FROM, FLIGHTS, AS, T1...","[select, count, (, *, ), from, flights, as, t1...","[How, many, flights, depart, from, City, 'Aber..."

In [21]:
fine_tuning_dataset = df_train
fine_tuning_dataset

,db_id,query,question,query_toks,query_toks_no_value,question_toks
6712,driving_school,SELECT first_name FROM Staff EXCEPT SELECT T2....,What is the first name of the staff who did no...,"[SELECT, first_name, FROM, Staff, EXCEPT, SELE...","[select, first_name, from, staff, except, sele...","[What, is, the, first, name, of, the, staff, w..."
6679,driving_school,"SELECT max(amount_outstanding) , min(amount_o...","What is the maximum, minimum, and average amou...","[SELECT, max, (, amount_outstanding, ), ,, min...","[select, max, (, amount_outstanding, ), ,, min...","[What, is, the, maximum, ,, minimum, ,, and, a..."
17,farm,SELECT count(*) FROM farm,Count the number of farms.,"[SELECT, count, (, *, ), FROM, farm]","[select, count, (, *, ), from, farm]","[Count, the, number, of, farms, .]"
6897,tracking_orders,SELECT T1.customer_name FROM customers AS T1 J...,What is the name of the customer who has the m...,"[SELECT, T1.customer_name, FROM, customers, AS...","[select, t1, ., customer_name, from, customers...","[What, is, the, name, of, the, customer, who, ..."
151,bike_1,SELECT avg(long) FROM station WHERE id NOT IN ...,What is the average longitude of stations that...,"[SELECT, avg, (, long, ), FROM, station, WHERE...","[select, avg, (, long, ), from, station, where...","[What, is, the, average, longitude, of, statio..."
...,...,...,...,...,...,...
3109,behavior_monitoring,"SELECT T2.address_id , T1.city FROM Addresses...",Find the id and city of the student address wi...,"[SELECT, T2.address_id, ,, T1.city, FROM, Addr...","[select, t2, ., address_id, ,, t1, ., city, fr...","[Find, the, id, and, city, of, the, student, a..."
5783,customer_complaints,"SELECT email_address , phone_number FROM cust...",What are the emails and phone numbers of custo...,"[SELECT, email_address, ,, phone_number, FROM,...","[select, email_address, ,, phone_number, from,...","[What, are, the, emails, and, phone, numbers, ..."
1534,insurance_and_eClaims,SELECT DISTINCT t2.customer_details FROM polic...,Which customers have an insurance policy with ...,"[SELECT, DISTINCT, t2.customer_details, FROM, ...","[select, distinct, t2, ., customer_details, fr...","[Which, customers, have, an, insurance, policy..."
881,chinook_1,"SELECT max(Milliseconds) , min(Milliseconds) ...",What are the duration of the longest and short...,"[SELECT, max, (, Milliseconds, ), ,, min, (, M...","[select, max, (, milliseconds, ), ,, min, (, m...","[What, are, the, duration, of, the, longest, a..."
3576,music_1,"SELECT T1.artist_name , T1.gender FROM artist...",What are the names and genders of all artists ...,"[SELECT, T1.artist_name, ,, T1.gender, FROM, a...","[select, t1, ., artist_name, ,, t1, ., gender,...","[What, are, the, names, and, genders, of, all,..."

[
  { "role": "system", "content": "You are a helpful assistant" },
  { "role": "user", "content": "Hi" },
  { "role": "assistant", "content": "Hello, How can I help you?" },
  { "role": "user", "content": "How is the weather today?" },
  { "role": "assistant", "content": "get_weather_status()" }
]

In [22]:
user_content_train = []
user_content_val = []


for idx, row in fine_tuning_dataset.iterrows():
    # print(row['query'])
    user_content_train.append((idx, row['question'], row['query']))


for idx, row in df_val.iterrows():
    # print(row['query'])
    user_content_val.append((idx, row['question'], row['query']))

In [25]:
print(len(user_content_train))

7000

In [27]:
user_content_val[0]

(140,
 'What is the maximum accelerate for all the different cylinders?',
 'SELECT max(Accelerate) ,  Cylinders FROM CARS_DATA GROUP BY Cylinders;')

In [28]:
FT_LINES = []
VAL_LINES = []


for entry in user_content_train:
    # print(entry[1])
    j = {
  "messages": [
    { "role": "system", "content": "You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query." },
    { "role": "user", "content": entry[1] },
    { "role": "assistant", "content": entry[2] },
  ]
}

    FT_LINES.append(j)


for entry_val in user_content_val:
    # print(entry_val[1])
    j_val = {
  "messages": [
    { "role": "system", "content": "You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query." },
    { "role": "user", "content": entry_val[1] },
    { "role": "assistant", "content": entry_val[2] },
  ]
}

    VAL_LINES.append(j_val)

In [30]:
VAL_LINES

[{'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the maximum accelerate for all the different cylinders?'},
   {'role': 'assistant',
    'content': 'SELECT max(Accelerate) ,  Cylinders FROM CARS_DATA GROUP BY Cylinders;'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the minimum weight of the car with 8 cylinders produced in 1974 ?'},
   {'role': 'assistant',
    'content': 'select min(weight) from cars_data where cylinders  =  8 and year  =  1974'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the total ticket expense of the visitors whose membership level is 1?'},
   {'role': 'assistant',
    'content': 'SELECT sum(t2.Total_spent) FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id WHERE t1.Level_of_membership  =  1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the earnings of poker players, ordered descending by value?'},
   {'role': 'assistant',
    'content': 'SELECT Earnings FROM poker_player ORDER BY Earnings DESC'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the name of the series that has the episode "A Love of a Lifetime"?'},
   {'role': 'assistant',
    'content': 'SELECT T1.series_name FROM TV_Channel AS T1 JOIN TV_series AS T2 ON T1.id = T2.Channel WHERE T2.Episode = "A Love of a Lifetime";'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Return the id and type code of the template that is used for the greatest number of documents.'},
   {'role': 'assistant',
    'content': 'SELECT T1.template_id ,  T2.Template_Type_Code FROM Documents AS T1 JOIN Templates AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_id ORDER BY count(*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'what are all the addresses including line 1 and line 2?'},
   {'role': 'assistant',
    'content': 'SELECT line_1 ,  line_2 FROM addresses'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Give the language that is spoken in the most countries.'},
   {'role': 'assistant',
    'content': 'SELECT LANGUAGE FROM countrylanguage GROUP BY LANGUAGE ORDER BY count(*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'How many degrees does the engineering department offer?'},
   {'role': 'assistant',
    'content': "SELECT count(*) FROM Departments AS T1 JOIN Degree_Programs AS T2 ON T1.department_id  =  T2.department_id WHERE T1.department_name  =  'engineer'"}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the distinct template type descriptions for the templates ever used by any document?'},
   {'role': 'assistant',
    'content': 'SELECT DISTINCT T1.template_type_description FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code JOIN Documents AS T3 ON T2.Template_ID  =  T3.template_ID'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Return the codes of countries that do not speak English and do not have Republics for governments.'},
   {'role': 'assistant',
    'content': 'SELECT Code FROM country WHERE GovernmentForm != "Republic" EXCEPT SELECT CountryCode FROM countrylanguage WHERE LANGUAGE  =  "English"'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'How many people live in Gelderland district?'},
   {'role': 'assistant',
    'content': 'SELECT sum(Population) FROM city WHERE District  =  "Gelderland"'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the model for the car with a weight smaller than the average?'},
   {'role': 'assistant',
    'content': 'SELECT T1.model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Weight  <  (SELECT avg(Weight) FROM CARS_DATA)'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': "How many ships ended up being 'Captured'?"},
   {'role': 'assistant',
    'content': "SELECT count(*) FROM ship WHERE disposition_of_ship  =  'Captured'"}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'How many dog pets are raised by female students?'},
   {'role': 'assistant',
    'content': "SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'"}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the name of the singer who is worth the most?'},
   {'role': 'assistant',
    'content': 'SELECT Name FROM singer ORDER BY Net_Worth_Millions DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the names of poker players whose earnings is higher than 300000?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID WHERE T2.Earnings  >  300000'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Which language is the most popular on the Asian continent?'},
   {'role': 'assistant',
    'content': 'SELECT T2.Language FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.Continent  =  "Asia" GROUP BY T2.Language ORDER BY COUNT (*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'How many professionals did not operate any treatment on dogs?'},
   {'role': 'assistant',
    'content': 'SELECT count(*) FROM Professionals WHERE professional_id NOT IN ( SELECT professional_id FROM Treatments )'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'How many friends does the high school student Kyle have?'},
   {'role': 'assistant',
    'content': 'SELECT count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id WHERE T2.name  =  "Kyle"'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'List the dog name, age and weight of the dogs who have been abandoned? 1 stands for yes, and 0 stands for no.'},
   {'role': 'assistant',
    'content': 'SELECT name ,  age ,  weight FROM Dogs WHERE abandoned_yn  =  1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'What is the year that had the most concerts?'},
   {'role': 'assistant',
    'content': 'SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the type codes and descriptions for all template types?'},
   {'role': 'assistant',
    'content': 'SELECT template_type_code ,  template_type_description FROM Ref_template_types'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the record companies that are used by both orchestras founded before 2003 and those founded after 2003?'},
   {'role': 'assistant',
    'content': 'SELECT Record_Company FROM orchestra WHERE Year_of_Founded  <  2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_Founded  >  2003'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': "List pairs of the owner's first name and the dogs's name."},
   {'role': 'assistant',
    'content': 'SELECT T1.first_name ,  T2.name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'How much surface area do the countires in the Carribean cover together?'},
   {'role': 'assistant',
    'content': 'SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'What is the number of continents?'},
   {'role': 'assistant', 'content': 'SELECT count(*) FROM CONTINENTS;'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Show the property type descriptions of properties belonging to that code.'},
   {'role': 'assistant',
    'content': 'SELECT T2.property_type_description FROM Properties AS T1 JOIN Ref_Property_Types AS T2 ON T1.property_type_code  =  T2.property_type_code GROUP BY T1.property_type_code'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the ids and names of the battles that led to more than 10 people killed in total.'},
   {'role': 'assistant',
    'content': 'SELECT T1.id ,  T1.name FROM battle AS T1 JOIN ship AS T2 ON T1.id  =  T2.lost_in_battle JOIN death AS T3 ON T2.id  =  T3.caused_by_ship_id GROUP BY T1.id HAVING sum(T3.killed)  >  10'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the names of conductors as well as the corresonding orchestras that they have conducted?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Name ,  T2.Orchestra FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'What airline serves the most flights?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the abbreviation of the airilne has the fewest flights and what country is it in?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'How many shops are there in each location?'},
   {'role': 'assistant',
    'content': 'SELECT count(*) ,  LOCATION FROM shop GROUP BY LOCATION'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Find the average age of losers and winners of all matches.'},
   {'role': 'assistant',
    'content': 'SELECT avg(loser_age) ,  avg(winner_age) FROM matches'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is name of the country that speaks the largest number of languages?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode GROUP BY T1.Name ORDER BY COUNT(*) DESC LIMIT 1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the name of the country with the most car makers?'},
   {'role': 'assistant',
    'content': 'SELECT T2.CountryName FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId GROUP BY T1.Country ORDER BY Count(*) DESC LIMIT 1;'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What the smallest version number and its template type code?'},
   {'role': 'assistant',
    'content': 'SELECT min(Version_Number) ,  template_type_code FROM Templates'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is the maker of the carr produced in the earliest year and what year was it?'},
   {'role': 'assistant',
    'content': 'SELECT T2.Make ,  T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What is average life expectancy in the countries where English is not the official language?'},
   {'role': 'assistant',
    'content': 'SELECT avg(LifeExpectancy) FROM country WHERE Name NOT IN (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" AND T2.IsOfficial  =  "T")'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Find the total ranking points for each player and their first name.'},
   {'role': 'assistant',
    'content': 'SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': "what is the name and nation of the singer who have a song having 'Hey' in its name?"},
   {'role': 'assistant',
    'content': "SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'"}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'What is the total count of teachers?'},
   {'role': 'assistant', 'content': 'SELECT count(*) FROM teacher'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'Find the total number of players.'},
   {'role': 'assistant', 'content': 'SELECT count(*) FROM players'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'List each charge type and its amount.'},
   {'role': 'assistant',
    'content': 'SELECT charge_type ,  charge_amount FROM Charges'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the names of poker players, ordered ascending by the number of final tables they have made?'},
   {'role': 'assistant',
    'content': 'SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Final_Table_Made'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Show the names of singers that have more than one song.'},
   {'role': 'assistant',
    'content': 'SELECT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name HAVING COUNT(*)  >  1'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user', 'content': 'What are the different template type codes?'},
   {'role': 'assistant',
    'content': 'SELECT DISTINCT template_type_code FROM Templates'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'What are the names of the teachers and the courses they teach in ascending alphabetical order by the name of the teacher?'},
   {'role': 'assistant',
    'content': 'SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID ORDER BY T3.Name'}]},
 {'messages': [{'role': 'system',
    'content': 'You are a senior data engineer. Given the user input, construct a valid, intelligent SQL query.'},
   {'role': 'user',
    'content': 'Show different hometown of teachers and the number of teachers from each hometown.'},
   {'role': 'assistant',
    'content': 'SELECT Hometown ,  COUNT(*) FROM teacher GROUP BY Hometown'}]},

In [31]:
import json

In [32]:
with open('PMA_FT_spider_TRAIN.jsonl', 'w') as file:
    # Iterate through the data and write each item as a JSON line
    for item in FT_LINES:
        json_line = json.dumps(item)
        file.write(json_line + '\n')

with open('PMA_spider_validation.jsonl', 'w') as file:
    # Iterate through the data and write each item as a JSON line
    for item in FT_LINES:
        json_line = json.dumps(item)
        file.write(json_line + '\n')